@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.topo{
    width: 98%;
    padding: 12px 20px;
}

.topo-left{
    float: left;

}

.icone-left{
    float: left;
    font-size: 18px;
}

.logo-left{
    width: 100%;
    max-width: 90px;
    margin-left: 15px;
    clear: both;
    margin-top: -2px;
}


.search-topo{
    padding: 7px 5px;
    width: 100%;
    max-width: 600px;
    margin-left: 160px;
    margin-top: -10px;
    outline-color:rgba(85, 85, 252, 0.842) ;
    float: left;
}

.botao-center{
    padding: 7px 20px;
    float: left;
    margin-top: -10px;
    color: gray;
  
}

.mic-botao{
    float: left;
    margin-left: 15px;
    color: black;
    font-size: 21px;
    margin-top: -5px;
}

.teclado-pesquisa{
    font-size: 18px;
    margin-left: -30px;
    margin-top: -2px;
    float: left;
}

.tabela-left{
    float: left;
    margin-left: 80px;
    color: black;
    font-size: 20px;
    margin-top: -5px;
    float: left;
}

.ponto-left{
    float: left;
    margin-left: 50px;
    margin-top: -5px;
    color: black;
    font-size: 20px;
}

.login-topo{
    float: left;
    margin-left: 30px;
    padding: 9px;
    color: blue;
    border: solid 1px blue;
    background-color: white;
    margin-top: -14px;
    font-weight: bold;
}

.circulo-login{
    margin-right: 4px;
    font-size: 20px;
    float: left;
    margin-top: -3px;
}

.lateral{
    width: 100%;
    max-width: 250px;
    height: 1000px;
    margin-top: 28px;
}

.item-lateral-ativo{
    color: #616161;
    padding: 11px 13px;
    width: 225px;
    font-weight: bold;
    background-color: #E6E6E6;
    font-size: 14px;
    cursor: pointer;
}

.item-lateral-ativo:hover{
    background-color:#D4D4D4;
}
.icone-lateral-ativo{
    color: red;
    font-size: 18px;
    float: left;
    margin-left: 10px;
    margin-right: 25px;
}



.item-lateral{
    color: #616161;
    padding: 11px 13px;
    width: 225px;
    font-size: 14px;
    cursor: pointer;
}

.item-lateral:hover{
   background: #f8f8f8;
}

.icone-lateral{
    color: #616161;
    font-size: 18px;
    float: left;
    margin-left: 10px;
    margin-right: 25px;
}

.linha-lateral{
    height: 1px;
    background: rgb(185, 185, 185);
    margin-top: 15px;
}

.linha-lateral2{
    height: 1px;
    background: rgb(185, 185, 185);
    margin-top: 20px;
}

.text-login{
    width: 100%;
    max-width: 150px;
    font-size: 14px;
    text-align: left;
    margin-left: 26px;
    margin-bottom: 26px;
}

.text-login2{
    width: 100%;
    max-width: 200px;
    font-size: 14px;
    text-align: left;
   font-weight: bold;
    margin-left: 26px;
    margin-bottom: 5px !important;
    margin-top: 12px;
    color: gray;
}

.meio{
    border-top: 1px solid #dbdbdb ;
    margin-left: 255px;
    margin-top: -1004px;
    background-color: white;
    height: 500px;
    padding: 5px;
}

.linha-lateral3{
    height: 1px;
    background: #dbdbdb;
    margin-top: -458px;
    width: 1077px;
    margin-left: 256px;
}

.item-meio-ativo{
    border: none; 
    color: white;
    background: #616161;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 27px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    cursor: pointer;
}

.item-meio{
    border: 1px solid gray;
    color: black;
    background: #f8f8f8;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 27px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
    cursor: pointer;
    margin-right: 1px;
}

.item-meio-ava{
    border: 1px solid gray;
    color: black;
    background: #f8f8f8;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 27px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
    cursor: pointer;
    margin-right: 80px;
}

.seta-meio{
    font-size: 10px;
    color: #616161;
}

.template-yt{
    width: 100%;
    margin-top: 20px;
}

.area-videos{
    background: #f8f8f8;
    height: 500px;
    margin-top: 264px;
    margin-left: 260px;
    padding: 30px 15px;
}

.item-video{
    width: 100%;
    max-width: 243px;
    height: 250px;
    float: left;
    margin-top: -200px;
    margin-right: 15px;
}

.thumb{
    width: 100%;
    cursor: pointer;
}

.time{
    padding: 5px;
    background: rgba(0, 0, 0, 0.829);
    color: white;
    font-size: 13px;
    float: right;
    margin-top: 112px;
    position: absolute;
    border-radius: 3px;
    margin-left: -41px;
}

.icone-video{
    border-radius: 50%;
    width: 100%;
    max-width: 35px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.titulo-video{
    float: right;
    text-align: left;
    font-size: 14px;
    color: black;
    width: 100%;
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    max-width: 190px;
    font-weight: bold;
}

.nome-canal{
    float: right;
    text-align: left;
    font-size: 14px;
    color: #494848;
    position: absolute;
    margin-top: 50px;
    margin-left: 60px;
    font-weight: 500;
}

.desc-canal{
    float: right;
    text-align: left;
    font-size: 14px;
    color: #494848;
    position: absolute;
    margin-top: 71px;
    margin-left: 60px;
    font-weight: 500;
}
